<div class="search">
    <label>
        Название:
        <input class="searchPhrase" type="text" name="searchPhrase" />
    </label>
    <br/>
    <label>
        Ценаот:
        <input class="minPrice" type="text"/>
        до:
        <input class="maxPrice" type="text"/>
    </label>
    <br/>
    <label>
        Сортировка:
        <select class="sortDirection" name="sortDirection">
            <option selected="selected" value="ASC">Повозрастанию</option>
            <option value="DESC">Поубыванию</option>
        </select>
    </label>
    <br/>
    <button class="searchButton">Поиск</button>
</div>